body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0B2B40;
  color: white;
}

.App-header {
  background-color: #0B2B40;
  padding: 20px;
  color: white;
  text-align: center;
}

h1 {
  color: #C4452C;
}